.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-spacer {
  margin-top: 10px;
}

#messagebuffer {
  font-size: 17px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}

#userlist {
  width: 90px;
  float: left;
  border-right: 0;
  font-size: 9pt;
  list-style: none outside none;
  padding: 0;
}

#messagebuffer, #userlist {
  height: 329px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 0;
}

#chatline, #guestlogin > input, #guestlogin > .input-group-addon {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#guestpass_icon {
  float: right;
  margin-right: 14px;
  margin-top: -27px;
  position: relative;
  z-index: 2;
}
#guestpass_icon:hover {
  cursor: pointer;
  color: white;
}

.linewrap {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.clear {
  clear: both;
}

#customembed > .input-group {
  margin-top: 5px;
}

#chatheader {
  padding-left: 5px;
}

#currenttitle {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

#chatwrap, #videowrap {
  margin-bottom: 10px;
}

#smileswrap {
  display: none;
  background: rgba(0,0,0,0.7);
  margin: 10px 0px;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  padding: 5px;
  text-align: center;
  color: #fff;
}
#smileswrap video {
  vertical-align: middle;
}
.smile-preview {
  padding: 2px;
  max-height: 75px;
  cursor: pointer;
}

/*
#userpl_list li {
  display: inline-block;
  line-height: 22px;
  width: 100%;
  clear: both;
  margin: 2px 0 0 auto;
  padding: 2px;
  font-size: 8pt;
}
*/

#queue_next, #ce_queue_next {
  border-radius: 0;
}

#plmeta {
  border-radius: 4px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #2c2e31;
  padding-left: 5px;
  padding-right: 5px;
}

.videolist {
  list-style: none outside none;
  margin-left: 0;
  max-height: 500px;
  overflow-y: auto;
}



#pllength {
  float: right;
}

.queue_temp {
  background-image: url(/img/stripe-diagonal.png);
}

.videolist {
  padding: 0;
  margin: 0;
}

#queue > li:last-child {
  border-bottom-width: 0;
  margin-bottom: 0;
}

.videolist > li:first-child {
  border-top-width: 1px;
}

.qe_title {
  float: left;
}

.qe_time {
  float: right;
  font-family: Monospace;
}

.qe_clear {
  clear: both;
}

.clear {
  clear: both;
}

#chatheader .label {
  height: 100%;
  margin-left: 2px;
}

.well {
  margin-top: 10px;
}

.server-msg-disconnect {
  border: 1px solid #ff0000;
  line-height: 2;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ff0000;
  text-align: center;
  background-color: rgba(129, 20, 21, 0.1);
}

.server-msg-reconnect {
  border: 1px solid #009900;
  line-height: 2;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #009900;
  text-align: center;
  background-color: rgba(18, 100, 18, 0.1);
}

.queue_sortable li {
  cursor: row-resize;
}

.userlist_item {
  cursor: pointer;
}

.userlist_owner {
  color: #cc0000!important;
  font-weight: bold!important;
}

.userlist_guest {
  color: #888888!important;
}

.server-whisper {
  font-style: italic;
  color: #888888;
  font-size: 8pt;
}

.timestamp {
  color: #808080;
  font-size: 8pt;
}

#togglemotd .glyphicon {
  font-size: 10pt;
}

#guestlogin .input-group-addon {
  min-width: 120px;
}

#customembed-content {
  font-family: Monospace;
}

#pmbar {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  min-width: 100%;
  pointer-events: none;
}

#userlisttoggle {
  padding-top: 2px;
}

.queue_entry {
  line-height: 22px;
  padding: 2px;
  font-size: 8pt;
  border: 1px solid;
  border-top-width: 0;
}

#leftcontrols .btn {
  margin-right: 5px;
}

#videowrap .embed-responsive:-webkit-full-screen { width: 100%; }
#videowrap .embed-responsive:-moz-full-screen { width: 100%; }
#videowrap .embed-responsive:-ms-full-screen { width: 100%; }
#videowrap .embed-responsive:-o-full-screen { width: 100%; }
#videowrap .embed-responsive:full-screen { width: 100%; }

#newmessages-indicator {
  margin-top: -30px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

#newmessages-indicator .glyphicon {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-inverse {
  background: rgba(0,0,0,0.44) !important;
}
#footer {
  margin-top: 15px;
}


.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('/img/vertical.png');
  height: 80px;
  float: left;
  opacity: 0.2;
}
