/* Mobile view */

.mobile-view .navbar {
	display: none;
}
.mobile-view #mainpage {
	padding-top: 0;
}
.mobile-view #messagebuffer :nth-child(n+5):last-child {
	margin-bottom: 0;
}
.mobile-view #chatwrap {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}
.mobile-view #videowrap {
	padding-left: 0;
	padding-right: 0;
}
.mobile-view #currenttitle {
	display: inline;
	background-color: transparent;
	text-align: center;
	border: none;
}
.mobile-view #plcontrol {
	display: none;
}
.mobile-view #leftcontrols {
	text-align: center;
}
.mobile-view #rightcontrols {
	text-align: center;
}
.mobile-view #videocontrols {
	float: none !important;
	width: 100%;
}
.mobile-view #extendplayer {
	display: none;
}
.mobile-view #videocontrols .btn {
	width: 20%;
}
/* .mobile-view .btn-xs {
	padding: 4px 5px;
} */
.mobile-view #rightpane-inner {
	padding-left: 0;
	padding-right: 0;
}
.mobile-view #wrap {
	padding-bottom: 0;
	margin-bottom: 0;
}

@media (max-width:799px)  {
	.navbar {
		/* display: none; */
		border-color: #272b30 !important;
		background: rgb(39, 43, 48) !important;
		margin-bottom: 0;
	}
	#chatwrap {
		width: 100% !important;
		margin-bottom: 0;
	}
	#videowrap {
		width: 100% !important;
	}
	.gutter.gutter-horizontal {
		display: none;
	}
	#currenttitle {
		display: none;
	}
}
