body {
    display: flex;
}

.setup {
    margin: auto;
    padding: 2rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* debug */
    background-color: #1a1a1f;
    border-radius: 0.375rem;

    & h1 {
        font-size: 1.75rem;
    }
}

.setup-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    width: 100%;

    & button {
        margin: 0;
        padding: .75rem .5rem;
        justify-content: center;
        background-color: var(--accent);
        color: #fff;

        &:hover {
            filter: brightness(1.15);
        }
    }
}